{% extends "header.html" %}

{% block title %}
    TOPZ BLOG
{% endblock %}

{% block body %}

    <h3> Add An Entry </h3>
    <br>
    <form action='/addEntry/{{ blogid }}', method="POST">
        Entry:
        <textarea name = entry rows="4" cols="50">
        </textarea>
        <input type = 'submit' value = "Add Entry" >
    </form>
    <br>
    <br>
    <br>

    <br>
    <form action='/user/{{user}}'>
        <input type = 'submit' value = "Back">
    </form>
    <br><br><br><br><br>
{% endblock %}
