{% extends "header.html" %}

{% block title %}
    TOPZ BLOG
{% endblock %}

{% block body %}

    <h3> {{user}}'s Entries </h3>

    <br>
    <form action='/addEntry/{{blogid}}', method="POST">
        <input type = 'submit' value = "Add Entry" >
    </form>
    <br>
    <br>
    Blog Title: {{blogname}}
    <br>
    <br>
    Your Entries:
    <br>
    <br>
    {% for entry in myEntries %}
        Entry#{{entry[0]}}: {{entry[1]}}
        <form action='/editEntry/blog/{{blogid}}/entry/{{entry[0]}}', method="POST">
            <input type = 'submit' value = "Edit" >
        </form>
    {% endfor %}
    <br>

    <br><br><br><br><br>
    <form action='/user/{{user}}', method="GET">
        <input type = 'submit' value = "Back" >
    </form>
{% endblock %}
