{% extends "header.html" %}

{% block title %}
    TOPZ BLOG
{% endblock %}

{% block body %}

    <h3> Edit An Entry </h3>
    <br>
    Entry:
    <form action='/editEntry/blog/{{ blogid }}/entry/{{entrynum}}', method="POST">

        <textarea name = entry rows="4" cols="50">
          {{oldentry}}
        </textarea>
        <br>
        <input type = 'submit' value = "Save" >
    </form>
    <br>
    <br>
    <br>

    <br>
    <form action='/user/{{user}}'>
        <input type = 'submit' value = "Back">
    </form>
    <br><br><br><br><br>
{% endblock %}
