{% extends "header.html" %}

{% block title %}
{{blogTitle}} - {{entryTitle}}
{% endblock %}

{% block body %}
<form action='/{{userProfile}}'>
    {% for blog in blogs %}
        <br>
        <textarea rows='10' cols='100'>{{entry}}
        </textarea>
    {% endfor %}
    <input type = 'submit' name = 'save' value = 'save'>
    <input type = 'submit' name = 'cancel' value = 'Cancel'>
</form>
<!--
<form action="{{userProfile}}>
    <textarea rows="4" cols="50">
        {{blogData}}
    </textarea>
</form>
-->
{% endblock %}
