<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>

        <header>
            {% block header %}
            <h1> TOPZ BLOGZ </h1>

            <!-- Home button brings the user back to the home page -->
            <form action='/logout', method="GET">
                <input type = 'submit' value = "Logout" >
            </form>

            <!-- Search bar to find specific user/blog/entry -->
            <form action='/search', method="POST">
                <input type = 'text' name = 'keywords'>
                <input type = 'submit' name = 'search1', value = 'Search'>
            </form>

            <form action='/home', method="POST">
                <input type = 'submit' name = 'profileRedirect' value = "Profile">
            </form>

            <form action='/home', method="GET">
                <input type = 'submit' name = 'home' value = "Home">
            </form>
            {% endblock %}
        </header>

        <title>
            {% block title %}
            {% endblock %}
        </title>

    </head>

    <body>
        {% block body %}
        {% endblock %}
        <br>
    </body>

    <footer>
        {% block footer %}
        Copyright by TOPZ Incorporated
        {% endblock %}
    </footer>

</html>
