{% extends "header.html" %}

{% block title %}
    TOPZ BLOG
{% endblock %}

{% block body %}

    <h3> Welcome {{username}}! </h3>
    <br>
    View featured entries:
    <br>
    <br>
    <table>
      <tr>
        <th>Username</th>
        <th>Blog Number</th>
        <th>Blog Title</th>
        <th>Entry</th>
      </tr>
      {% for row in recentEntries %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>
            <form action='/user/{{row[0]}}/blog/{{row[1]}}'>
                <input type = 'submit' value = "View Blog">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
    <br>

    <br><br><br><br><br>
{% endblock %}
