{% extends "header.html" %}

{% block title %}
    TOPZ BLOG
{% endblock %}

{% block body %}

    <h3> Welcome {{username}}! </h3>
    <br>
    View featured entries:
    <br>
    <br>
    {{recentEntries}}
    <table style="width:100%">
    <tr>
      <th>Username</th>
      <th>Blog Name</th>
      <th>Blog</th>
    </tr>
    {% for entry in entries %}
      <tr>
        <td>{{ username }}</td>
        <td>{{ BlogName }}</td>
        <td>{{ latestEntry }}</td>
      </tr>
    (% endfor %)
    </table>
    <br>



    <br><br><br><br><br>
{% endblock %}
