{% extends "header.html" %}

{% block title %}
    TOPZ BLOG
{% endblock %}

{% block body %}

    <h3> {{user}}'s Entries </h3>

    <br>
    Blog Title: {{blogname}}
    <br>
    <br>
    Their Entries:
    <br>
    <br>
    {% for entry in theirEntries %}
        Entry#{{entry[0]}}: {{entry[1]}}
        <br>
        <br>
    {% endfor %}
    <br>

    <br><br><br><br><br>
    <form action='/user/{{user}}', method="GET">
        <input type = 'submit' value = "Back" >
    </form>
{% endblock %}
