<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>
        <header>
            <h1> WELCOME TO TOPZ BLOGZ </h1>
        </header>
    </head>

    <body>

        Please register to enter the site:
        <br>
        {{errorMessage}}
        <br>
        <form action='/register', method="POST">
            Username:
            <br>
            <input type = 'text' name = 'username' >
            <br>
            <br>
            Password:
            <br>
            <input type = 'password' name = 'password1' >
            <br>
            <br>
            Confirm password:
            <br>
            <input type = 'password' name = 'password2' >
            <br>
            <br>
            <input type = 'submit' name = 'sub1'>
            <br>
            <br>
        </form>
        <br>
        Already Have Account? Log In.
        <form action='/register', method="POST">
          <input type = 'submit' name = 'sub1', value = 'Log In'>
        </form>
    </body>

    <footer>
        <br><br><br><br><br><br>
        Copyright by TOPZ Incorporated

    </footer>

</html>
